CACHE_THRESHOLD=0.85
CHROMA_PERSIST_PATH=data/chroma_db
EMBEDDINGS_CACHE_PATH=data/embeddings.npy
DOCIDS_CACHE_PATH=data/doc_ids.pkl
CLUSTER_MODEL_PATH=data/gmm_model.pkl
UMAP_MODEL_PATH=data/umap_model.pkl
